body {
  font-family: Arial;
  background: #f5f5f5;
}

.auth-container {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00000020;
}

.auth-container h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #005fe0;
}

a {
  color: #0077ff;
}
